body{
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
header{
  width:100%;
  height:4rem;
  position: fixed;
  top:0;
  left:0;
  padding:0;
  background-color: transparent;
  z-index: 50;
}
nav ul{
  margin:0;
  display:flex;
  height:4rem;
  padding:0;
  justify-content: center;
}
li{
  border-right: 2px solid #40140D;
  width:10rem;;
  height:4rem;
  list-style-type:none;
  text-align:center;
  padding: 0;
  border-bottom:2px solid #40140D ;
  background-image: url(Background.png);
}
#start{
  border-left: 2px solid #40140D;
}
li a{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:1.5rem;
  height:100%;
  text-decoration: none;
  color:#40140D;
  font-family: "Pacifico", cursive;
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

li a:hover{
  background-image: url(foot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  color:antiquewhite;
}
@media only screen and (max-width:1000px){
  li a{
    font-size:0.8rem
  }
}
body{
  background-image: url(Background.png);
}
p{
  font-family: "Pacifico", cursive;
  text-align: center;
  display: block;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 50px;
  color:#40140D;
}
img{
  width:25rem;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  box-shadow: 5px 5px 150px palevioletred;
}
h1{
  font-family: "Pacifico", cursive;
  text-align: center;
  display: block;
  margin:auto;
  margin-top: 4rem;
  margin-bottom: 10px;
  color:#40140D;
  text-decoration: underline;
}
h2{
  font-family: "Pacifico", cursive;
  text-align: center;
  display: block;
  margin:auto;
  line-height: 50px;
  color:#40140D;
}
@media only screen and (max-width:800px){
  h1{
    margin-top: 4rem;
  }
  img{
    width:20rem
  }
  p{
    line-height: 30px;
  }
}
@media only screen and (min-width:800px){

  p{
    font-size: 1.5rem;
  }
}