body{
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
header{
  width:100%;
  height:4rem;
  position: fixed;
  top:0;
  left:0;
  padding:0;
  background-color: transparent;
  z-index: 50;
}
nav ul{
  margin:0;
  display:flex;
  height:4rem;
  padding:0;
  justify-content: center;
}
li{
  border-right: 2px solid #40140D;
  width:10rem;;
  height:4rem;
  list-style-type:none;
  text-align:center;
  padding: 0;
  border-bottom:2px solid #40140D ;
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
#start{
  border-left: 2px solid #40140D;
}
li a{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:1.5rem;
  height:100%;
  text-decoration: none;
  color:antiquewhite;
  font-family: "Pacifico", cursive;
  background-image: url(foot1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width:768px){
  li a{
    font-size:0.8rem
  }
}
img{
  width:20rem;
  display: block;
  box-shadow: 5px 5px 50px palevioletred;
  margin-top:7rem;
}
p{
  font-size:3rem;
  font-family: "Pacifico", cursive;
  color:#40140D;
  text-align:center;
  width:50rem;
  position: relative;
}
.parent{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.texts{
  padding-top:4rem;
}
@media only screen and (max-width:768px){
  img{
    width:15rem;
    margin-top:7rem;
  }
  p{
    font-size:1.5rem;
    width:20rem;
  }
  .parent{
    display: flex;
    flex-direction: column;
    align-items:center ;

  }
}

