body{
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
header{
  width:100%;
  height:4rem;
  position: fixed;
  top:0;
  left:0;
  padding:0;
  background-color: transparent;
  z-index: 50;
}
nav ul{
  margin:0;
  display:flex;
  height:4rem;
  padding:0;
  justify-content: center;
}
li{
  border-right: 2px solid #40140D;
  width:10rem;;
  height:4rem;
  list-style-type:none;
  text-align:center;
  padding: 0;
  border-bottom:2px solid #40140D ;

}
#start{
  border-left: 2px solid #40140D;
}
li a{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:1.5rem;
  height:100%;
  text-decoration: none;
  color:#40140D;
  font-family: "Pacifico", cursive;
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
li a:hover{
  background-image: url(foot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  color:antiquewhite
}

@media only screen and (max-width:1025px){
  li a{
    font-size:0.8rem
  }
}
p:nth-child(1){
  margin-top:7rem;
}
p{
  color:#40140D;
  font-family: "Pacifico", cursive;
  font-size:2rem;
  text-align: center;
}
img{
  width:20rem;
  box-shadow: 5px 5px 100px palevioletred ;
}
.imgs{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}
@media only screen and (max-width:768px){
  p{
    font-size:1rem;
  }
  img{
    width:15rem;
  }
}